body,
html {
    font-family: 'Bellota Text', cursive;
}

a,
a:hover {
    text-decoration: none;
}

.btn {
    margin-top: 25px;
    background-color: #a68b03;
    border: none;
    border-radius: 0;
    font-variant: small-caps;
    font-size: 1.35rem;
    padding: 10px 30px;
    color: #fff;
}

.btn:focus {
    box-shadow: 0 0 0 0.2rem rgb(166 139 3 / 50%);
}

.btn:hover {
    color: #fff;
    background-color: rgb(196 165 8);
}

h1 {
    font-size: 4.5rem;
    font-variant: small-caps;
    color: white;
    font-weight: 600;
}

h2 {
    font-size: 2.5rem;
    margin-bottom: 20px;
    font-weight: 600;
    font-variant: small-caps;
}

.header {
    background-image: url(../assets/images/service-header-image.jpg);
    height: 45vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 0 20vw;
}

/* ********************************************NAVBAR**************************************************** */

.logo {
    width: 15vw;
}

.navbar {
    background-color: #fff;
}

.nav-link {
    padding-right: 1.6rem !important;
    padding-left: 1.6rem !important;
    font-size: 1.3rem;
    font-variant: small-caps;
    color: black;
    font-weight: 600;
}

.nav-link:hover {
    color: black;
}

.nav-link:after {
    background: none repeat scroll 0 0 transparent;
    bottom: 0;
    content: "";
    display: block;
    height: 3px;
    left: 50%;
    position: initial;
    background: #a68b03;
    transition: width 0.3s ease 0s, left 0.3s ease 0s;
    width: 0;
}

.nav-link:hover:after {
    width: 102%;
    left: 0;
}

.navbar-toggler-icon {
    z-index: 2;
    width: 40px;
    height: 20px;
    position: relative;
    margin: 0px;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: .5s ease-in-out;
    -moz-transition: .5s ease-in-out;
    -o-transition: .5s ease-in-out;
    transition: .5s ease-in-out;
    cursor: pointer;
}

.navbar-toggler-icon span {
    display: block;
    position: absolute;
    height: 3px;
    width: 75%;
    border-radius: 9px;
    opacity: 1;
    left: 0;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: .25s ease-in-out;
    -moz-transition: .25s ease-in-out;
    -o-transition: .25s ease-in-out;
    transition: .25s ease-in-out;
}

.navbar-toggler-icon span {
    background: #a68b03;
}

.navbar-toggler-icon span:nth-child(1) {
    top: 0.5px;
}

.navbar-toggler-icon span:nth-child(2) {
    top: 10px;
}

.navbar-toggler-icon span:nth-child(3) {
    top: 20px;
}

.navbar-toggler-icon.open span:nth-child(1) {
    top: 11px;
    -webkit-transform: rotate(135deg);
    -moz-transform: rotate(135deg);
    -o-transform: rotate(135deg);
    transform: rotate(135deg);
}

.navbar-toggler-icon.open span:nth-child(2) {
    opacity: 0;
    left: -60px;
}

.navbar-toggler-icon.open span:nth-child(3) {
    top: 11px;
    -webkit-transform: rotate(-135deg);
    -moz-transform: rotate(-135deg);
    -o-transform: rotate(-135deg);
    transform: rotate(-135deg);
}


.navbar-toggler:focus,
.navbar-toggler:active,
.navbar-toggler-icon:focus {
    outline: none;
}


/* ********************************************HERO-IMAGE-SECTION**************************************************** */
#hero-image-section {
    background-image: url(../assets/images/hero-image.jpg);
    height: 91vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 0 60px;
}

#hero-image-section h2 {
    line-height: 1.9;
    color: #fff;
}


/* ********************************************OUR-SERVICES-SECTION**************************************************** */

#our-services-section {
    background-color: #d8dada;
    padding: 50px 80px;
    text-align: center;
}

#our-services-section h2 {
    color: #000;
    margin-bottom: 100px;
}

.service {
    background-color: #ebebeb;
    text-align: center;
    margin-top: 0;
    margin-bottom: 30px;
    padding: 45px 10px 15px;
    position: relative;
    width: 80%;
}

.service::before {
    background: #a68b03;
    content: "";
    height: 45px;
    left: 0;
    position: absolute;
    top: 0;
    width: 5px;
}

.service::after {
    background: #a68b03;
    content: "";
    height: 5px;
    left: 0;
    position: absolute;
    top: 0;
    width: 45px;
}

.service-icon-div {
    position: absolute;
    border-radius: 50%;
    margin: -50px auto 0;
    width: 100px;
    background: #ebebeb;
    height: 100px;
    text-align: center;
    left: 0;
    right: 0;
    top: 0;
}

.service-icon {
    width: 2.65rem;
}

.small {
    width: 1.8rem;
}

#our-services-section h3,
h3 {
    font-weight: 600;
    font-variant: small-caps;
    font-size: 1.5rem;
    margin-bottom: 15px;
}

#our-services-section .row {
    margin-bottom: 10px;
    margin-top: 95px;
}

#services-phone .col-md-6 {
    margin-top: 95px;
}



/* ********************************************UP-TO-DATE-SECTION**************************************************** */

#up-to-date-section {
    text-align: center;
    background-color: #ebebeb;
    padding: 50px 80px;
}

.world,
.nigeria,
.ntas {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 75%;

}

.news-image {
    width: 100%;
    height: auto;
    position: relative;

}

.centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#up-to-date-section p {
    font-size: 1.1rem;
    margin-bottom: 3rem;
}

h4 {
    font-size: 1.6rem;
    color: white;
    font-variant: small-caps;
}

.news-btn {
    background-color: black;
    padding: 5px 20px;
    font-size: 1rem;
}

/* ********************************************CONTACT-US-SECTION**************************************************** */

#contact-us {
    background-color: #455a64;
    padding: 50px 80px;
    text-align: center;
}

#contact-us h2 {
    color: white;
}

/* ********************************************FOOTER-SECTION**************************************************** */

footer {
    padding: 20px;
    background-color: #f4f1e3;
    font-weight: 600;
    font-variant: small-caps;
    font-size: 1.2rem;
}

.email-icon {
    width: 1.5vw;
    margin-right: 10px;
}

.footer-logo {
    width: 15vw;
}

footer p {
    margin: 0;
}

footer a {
    color: black;

}

footer a:hover {
    color: #a68b03;
}

.responsive-footer {
    display: none !important;
}




/* 
***********************************************************************************************************************************
***********************************************************************************************************************************
*********************************************************************************************************************************** */


/* ********************************************SERVICE & ABOUT US**************************************************** */
#main-content {
    background-color: #ebebeb;
    text-align: center;
    padding: 50px 60px;
}

#main-content h2 {
    margin-bottom: 80px;
}

.service-container {
    width: 80%
}


.image-container img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 10px;
}

.image-container {
    position: relative;
    padding-bottom: 80%;
    overflow: hidden;
    width: 90%;
    margin: 0 auto 25px;
    border: 2px solid #a68b03;
}

.responsive-version,
.responsive-version-mobile {
    display: none !important;
}

#main-content .d-flex {
    margin-bottom: 90px;
}

#main-content p {
    text-align: justify;
    line-height: 1.7;
    font-size: 0.9rem;
}

.about-us-header {
    background-image: url(../assets/images/about-us-header-image.jpg);
}

.who-are-we {
    margin-bottom: 50px !important;
}

.about-us p {
    font-size: 1.25rem !important;
    padding: 0 130px;
}



/* ********************************************CONTACT US**************************************************** */


.contact-us-header {
    background-image: url(../assets/images/contact-us-header-image.jpg);
}

.form-control {
    width: 80%;
    height: calc(1.5em + .75rem + 15px);
    border: none;
    border-radius: 0;
    border-bottom-right-radius: 112px;
    margin-bottom: 50px;
}

.form-control::placeholder {
    color: #808080;
    font-size: 1rem;
}

textarea.form-control {
    height: 18vh;
    border-bottom-right-radius: 55px;
}

#main-content.contact-us-main-content {
    padding: 90px;
}


#main-content.contact-us-main-content h2 {
    margin-bottom: 40px;
    text-align: left;
    font-size: 2.2rem;
}


#main-content.contact-us-main-content img {
    width: 8vw;
}

#main-content.contact-us-main-content p,
.col-12 a {
    text-align: center;
    font-weight: 600;
    font-variant: small-caps;
    font-size: 1.3rem;
    color: black;
    line-height: 1;

}

.contact-email-icon {
    display: block;
    margin: 90px auto 20px;
}

.contact-phone-icon {
    margin-bottom: 40px;
}

form .btn {
    margin: 0;
    border-radius: 15px;
}


.col-12 a:hover {
    color: #a68b03;
}






.page-main {
    opacity: 0;
}


.page-main .text-wrapper {
    overflow: hidden;
}


.page-main .text-wrapper+.text-wrapper {
    margin-top: 10px;
}


.page-main .text-wrapper * {
    transform: translateY(120%);
}



.page-main .p-wrapper * {
    transform: translateY(-120%);
}


.loaded .page-main {
    animation: fadeIn 0.6s ease-in 0.45s forwards;
}


/* .loaded .page-main .text-wrapper {
    animation: slideIn 0.6s cubic-bezier(0.54, 0.46, 0.54, 0.94) 2s forwards;
} */

.ks {
    -webkit-transition: all .3s ease-in-out;
    transition: all .6s cubic-bezier(.190, 1.000, .220, 1.000) 1.5s;
    -webkit-transform: translateX(-1000%);
    -ms-transform: translateX(-1000%);
    transform: translateX(-1000%);
}


.loaded .ks {
    -webkit-transform: translateX(0);
    -ms-transform: translateX(0);
    transform: translateX(0);
}

@keyframes fadeIn {
    60% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}